<ion-header>
  <ion-toolbar>
    <ion-title>
      SalãoWeb
    </ion-title>
    <ion-chip slot="end" routerLink="/tabs/userEnter" *ngIf="user._id === ''">
      <ion-avatar>
        <img alt="Silhouette of a person's head" src="assets/icon/icon-avatar.svg" />
      </ion-avatar>
      <ion-label>User</ion-label>
    </ion-chip>
    <ion-chip slot="end" [routerLink]="['/tabs/userPerfil',user._id]" *ngIf="user._id !== ''">
      <ion-avatar>
        <img alt="Photo user" [src]="user.foto" src="assets/icon/icon-avatar.svg" />
      </ion-avatar>
      <ion-label>{{user.nome}}</ion-label>
    </ion-chip>
  </ion-toolbar>
</ion-header>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="productList">
      <ion-icon aria-hidden="true" name="pricetags-outline"></ion-icon>
      <ion-label>Promoções</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="schedule-list">
      <ion-icon aria-hidden="true" name="book-outline"></ion-icon>
      <ion-label>Agenda</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contact">
      <ion-icon aria-hidden="true" name="call-outline"></ion-icon>
      <ion-label>Contatos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>