<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>productPerfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">productPerfil</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <div class="ion-text-center">
      <img [alt]="'foto do produto '+product.nome" [src]="imageSrc" height="300px"
        (dblclick)="takePhoto(imageSrc, product)" />
    </div>
    <ion-item>
      <ion-avatar slot="start" *ngFor="let photo of listPhotoProduct; index as iPhoto">
        <img [src]="photo" [alt]="" (click)="setPhotoProduct(iPhoto)" *ngIf="listPhotoProduct.length>0" />
      </ion-avatar>
      <ion-avatar>
        <img src="assets/icon/icon-box.svg" (click)="addPhoto(product)" />
      </ion-avatar>
    </ion-item>
    <ion-card-header>
      <ion-card-title>{{product.nome}}</ion-card-title>
      <ion-card-subtitle>{{product.valor}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      {{product.descricao}}
    </ion-card-content>
  </ion-card>

</ion-content>