<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>user-perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">user-perfil</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <div class="ion-text-center">
      <img alt="Foto de perfil" [src]="imageSrc" (click)="takePhoto()" height="300px" />
    </div>
    <ion-card-header>
      <ion-card-title>{{user.nome}}</ion-card-title>
      <ion-card-subtitle>{{user.telefone}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      {{user.email}}
    </ion-card-content>
  </ion-card>

  <div class="pt-10">
    <ion-button color="danger" (click)="logoff()">Sair</ion-button>
  </div>

</ion-content>